<div class="relative overflow-x-auto rounded-lg shadow-sm border border-gray-200 dark:border-gray-700">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b border-gray-200 dark:border-gray-700">
          <tr>
              <th *ngFor="let col of columns" scope="col" class="px-6 py-3 font-bold">
                  {{ col }}
              </th>
          </tr>
      </thead>
      <tbody>
          <!-- Rows will be projected here -->
          <ng-content></ng-content>
      </tbody>
  </table>
  
  <div *ngIf="isEmpty" class="p-8 text-center bg-white dark:bg-gray-800">
      <p class="text-gray-500 dark:text-gray-400 font-medium">{{ emptyMessage }}</p>
  </div>
</div>
